
*{
    margin: 0px;
}

body{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.342), rgb(154, 221, 171) );

}

img {
    filter: sepia(30%);
    width: 350px;
    height: 3   50px;
    border-radius: 20px;
    background-color: none;
    transition-property: width;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
  }

  img:hover{
      width: 150px;
  }

  #name_desig{
    font-family: 'Poppins', sans-serif;
  }


.name{
    font-size: 2rem;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(190, 77, 190), rgb(134, 113, 194));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: proname;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
    animation-timing-function: ease-in-out;

}

@keyframes proname {

    from{
        font-size: 2rem;
    }

    to{
        font-size: 1.8rem;
    }
    
}



#design2{
    display: none;
}

#design1, #d2{
    font-size: 1.2rem;
    color: rgb(44, 42, 44);
    animation:desig;
    animation-duration: 2s;
    /* animation-delay: 1s; */
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
    animation-timing-function: ease-in-out;
}

@keyframes desig {

    from{
        color: rgb(145, 134, 134);
        font-size: 1.2rem;
    }

    to{
        color: rgb(12, 47, 99);
        font-size: 1rem;
    }
    
}

#design1 span, #d2 span{
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    background: -webkit-linear-gradient(rgb(190, 77, 190), rgb(134, 113, 194));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

#design1 span:hover, #d2 span:hover{
    
    background: -webkit-linear-gradient(rgb(73, 68, 73), rgb(134, 113, 194));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

#c2,#c3,#c4,#c5,#c6,#c7,#c8{
    display: none !important;
}

#content1 h1, #content2 h1, #content3 h1, #content4 h1, #content5 h1, #content6 h1, #content8 h1, #content7 h1{
    font-size: 1.5rem;
    color: rgb(190, 77, 190);
    animation: heading;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    
}

@keyframes heading {

    from {color: rgb(141, 124, 124);
    font-style: normal;
    }
    to{color:rgb(190, 77, 190);
    font-style: italic;}

}

#content2 p, #content1 p, #content3 p, #content p, #content5 p,  #content6 p{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

#content2 span, #content5 span{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

#content1 h1:hover, #content2 h1:hover, #content3 h1:hover, #content4 h1:hover, #content5 h1:hover{
    font-size: 24px;
    cursor: pointer;
    color: black;
}

#content8 table th{
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

#content8 table tr{
    font-size: 0.8rem;
}

#foot span{
    font-size: 14px;
    font-weight: none;
    margin-top: 5px;
    /* margin-top: 2px; */
}

#foot span:hover{
    font-size: 14px;
    font-weight: bold;
    color: #A061C1;
}

#content6 li{
    font-size: 18px;
}

#insta i{
    color: #cc3d44;
}

#email i{
    color: #cc3d44;
}

#phone i{
    color: #cc3d44;
}

#linkedin i {
    /* margin-top: -2px; */
    color: #cc3d44;
}

#prev i, #next i{
    background-image: linear-gradient(to top, rgba(161, 21, 173, 0.671), black);
    -webkit-background-clip:text ;
    -webkit-text-fill-color:transparent;
}


#prev i:hover, #next i:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, rgba(226, 46, 14, 0.671), rgb(13, 54, 102));
    -webkit-background-clip:text ;
    -webkit-text-fill-color:transparent;
}

/* .l_icon{
    width: 35px;
    height: 35px;
    border-radius: 0;
    background-color: linear-gradient(to right, rgba(0, 0, 0, 0.342), rgb(148, 236, 175)); ;
} */

/* Media query */

@media only screen and (max-width:576px) and (min-width:396px)
{

    img {
        filter: sepia(30%);
        width: 80%;
        height: 450px;
        border-radius: 20px;
        margin-left: 10%;
        background-color: none;
        transition-property: width;
        transition-timing-function: ease-in-out;
        transition-duration: 2s;
      }

      img:hover{
        width: 60%;
    }
  
}
